@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");
html,
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.btn {
  width: 170px;
  height: 48px;
  border: none;
  background-color: #212529;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 35px 0;
  background-color: #74c69d;
}
.navbar .logo {
  display: flex;
  width: 186px;
}
.navbar .menubutton {
  width: 36px;
}
.navbar button {
  background-color: transparent;
  border: none;
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#menu {
  display: none;
  margin-bottom: 5px;
}

.title-n-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 72px;
  width: 100%;
}
.title-n-desc h2 {
  font-family: "Poppins", sans-serif;
  color: #74c69d;
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: bold;
}
.title-n-desc span {
  font-size: 40px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  padding-top: 16px;
}
.title-n-desc p {
  display: flex;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 16px;
}

.port-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  width: 100%;
}
.port-projects .projects {
  display: flex;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
}
.port-projects .projects:hover {
  scale: 115%;
  background-size: 300px;
  box-shadow: 0 0 40px 15px #212529;
}
.port-projects .projects img {
  width: 570px;
}

.learn-more-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 64px;
}

.bottomsite {
  background-color: #74c69d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 52px 0;
}
.bottomsite .footer {
  justify-content: space-between;
}
.bottomsite .footer-icons img {
  padding: 20px;
}
.bottomsite .footer-info {
  display: flex;
  align-items: center;
}
.bottomsite .footer-info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding: 20px;
  }
  .navbar .nav-links {
    display: none;
  }
  .nav-container button {
    display: block;
  }
  .port-projects {
    justify-content: center;
    align-items: center;
  }
  .bottomsite .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottomsite .footer .footer-icons {
    align-items: center;
    justify-content: center;
  }
  .bottomsite .footer .footer-icons img {
    height: 20px;
  }
  #menu {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu .mobile-links a {
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 26px;
    text-decoration: none;
    color: #212529;
  }
  .port-projects .projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .port-projects img {
    width: 570px;
  }
}/*# sourceMappingURL=portfoliostyle.css.map */