@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

$crimson: "Crimson Text", serif;
$worksans: "Poppins", sans-serif;
$lightgreen: #74c69d;
$colordark: #212529;

.btn {
  width: 170px;
  height: 48px;
  border: none;
  background-color: $colordark;
  color: white;
  font-family: $worksans;
  font-weight: 100;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 35px 0;
  background-color: $lightgreen;
  .logo {
    display: flex;
    width: 186px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 36px;
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: $worksans;
    }
  }
  .nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.title-n-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 72px;
  width: 100%;
  h2 {
    font-family: $worksans;
    color: $lightgreen;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  span {
    font-size: 40px;
    font-family: $crimson;
    font-weight: bold;
    padding-top: 16px;
  }
  p {
    display: flex;
    font-size: 20px;
    font-family: $worksans;
    text-align: center;
    padding-top: 16px;
  }
}

.plan-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 136px;
  .plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 46px;
    transition: all 0.1s ease-in-out;
    box-shadow: 6px 2px 8px $colordark;
    &:hover {
      scale: 115%;
      background-size: 300px;
    }
    h3 {
      font-size: 16px;
      font-family: $worksans;
    }
    .month {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 40px;
        font-family: $worksans;
        font-weight: bold;
        padding-right: 10px;
      }
      h4 {
        font-size: 15px;
        font-family: $worksans;
        color: hsla(210, 11%, 15%, 0.5);
        font-weight: normal;
      }
    }
    p {
      justify-content: center;
      align-items: center;
      text-align: center;
      color: hsla(210, 11%, 15%, 0.5);
      margin-bottom: 22px;
    }
    .checkmarks-text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      margin-left: 10px;
      padding: 14px 0;
    }
    img {
      width: 25px;
    }
  }
  button {
    margin-top: 46px;
  }
}

.bottomsite {
  background-color: $lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 52px 0;
  .footer {
    justify-content: space-between;
  }
  .footer-icons {
    img {
      padding: 20px;
    }
  }
  .footer-info {
    display: flex;
    align-items: center;
    h2 {
      font-family: $worksans;
      font-size: 20px;
      color: white;
      font-weight: normal;
    }
  }
}
