@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

.btn {
  width: 170px;
  height: 48px;
  border: none;
  background-color: #212529;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 35px 0;
  background-color: #74c69d;
}
.navbar .logo {
  display: flex;
  width: 186px;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navbar .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.navbar .nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero {
  background-color: #74c69d;
}
.hero .hero-container {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.hero .hero-container .hero-info {
  display: flex;
  width: 40%;
  flex-direction: column;
}
.hero .hero-container h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 5px;
}
.hero .hero-container span {
  display: flex;
  font-size: 40px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  color: white;
  gap: 10px;
  padding: 15px 0;
}
.hero .hero-container p {
  display: flex;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: hsla(0, 0%, 100%, 0.74);
  gap: 10px;
  padding: 15px 0;
}
.hero .hero-container button {
  display: flex;
  width: 170px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  border: none;
  justify-content: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.hero .hero-container .hero-image {
  display: flex;
}
.hero .hero-container .hero-image img {
  width: 740px;
  justify-self: end;
}

.title-n-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 72px;
  width: 100%;
}
.title-n-desc h2 {
  font-family: "Poppins", sans-serif;
  color: #74c69d;
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: bold;
}
.title-n-desc span {
  font-size: 40px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  padding-top: 16px;
}
.title-n-desc p {
  display: flex;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 16px;
}
.title-n-desc .partners-imgs {
  margin: auto;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 68px;
}
.title-n-desc .partners-imgs img {
  width: 200px;
}

.content-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content-1 .content1-image {
  display: flex;
  width: 60%;
}
.content-1 .content1-image img {
  width: 600px;
}
.content-1 .content1-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
.content-1 .content1-text h2 {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: bold;
  color: #212529;
}
.content-1 .content1-text p {
  font-size: 16px;
  color: hsla(210, 11%, 15%, 0.747);
  padding: 26px 0;
}

.content-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 74px;
}
.content-2 .content2-image {
  display: flex;
  width: 40%;
}
.content-2 .content2-image img {
  width: 600px;
}
.content-2 .content2-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}
.content-2 .content2-text h2 {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: bold;
  color: #212529;
}
.content-2 .content2-text p {
  font-size: 16px;
  color: hsla(210, 11%, 15%, 0.747);
  padding: 26px 0;
}

.team {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.team .team-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.team .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #888888;
  padding: 30px 40px;
}
.team .card img {
  width: 175px;
  display: flex;
}
.team .card h2 {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  font-family: "Crimson Text", serif;
  padding: 18px 0;
}
.team .card p {
  font-size: 14px;
  font-family: sans-serif;
}

.btn-under-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 64px;
}

.bottomsite {
  background-color: #74c69d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 52px 0;
}
.bottomsite .footer {
  justify-content: space-between;
}
.bottomsite .footer-icons img {
  padding: 20px;
}
.bottomsite .footer-info {
  display: flex;
  align-items: center;
}
.bottomsite .footer-info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: normal;
}/*# sourceMappingURL=style.css.map */